@import '../variables';

.practice-container {
    background: $black;
    height: 100%;
    width: 90%;
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.tab-display {
    white-space: nowrap;
    overflow: auto;
    height: 500px;
    width: 100%;
}

.tab-container {
    margin-top: 20%;
    background: $black;
}

.tab-line {
    height: 20px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    text-align: center;
}

.controls {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  // align-items: center;
}

.controls button {
  margin: 0;
  background: $lightGreen;
  width: 50%;
  height: 30px;
  border: none;
  color: $black;
  padding-top: 5px;
  padding-bottom: 22px;
  &:hover{
      background-color: $lightGray;
  }
}
