@import '../variables';

.practice-container {
    background: $black;
    height: 100%;
    width: 90%;
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.tab-display {
    white-space: nowrap;
    overflow: auto;
    height: 500px;
    width: 100%;
}

.tab-container {
    margin-top: 20%;
    background: $black;
}

.tab-line {
    margin-left: 10%;
    height: 20px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    // text-align: center;
}

.controls {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  // align-items: center;
}

.controls button {
  font-weight: 200;
  margin: 0;
  background: $lightGreen;
  width: 50%;
  height: 40px;
  border: none;
  border-right: 1px grey solid;
  border-left: 1px grey solid;
  color: $black;
  padding-top: 11px;
  padding-bottom: 22px;
  transition-duration: 0.2s;
  &:focus{
      outline: 0;
  };
  &:hover{
      background-color: $white;
  }
}

@media screen and (max-width: 900px) {
    .tab-line{
        font-size: 12px;
        width: 600px;
        overflow-x: scroll;
        margin-left: 0;
    }

    .practice-container {
        width: 100%;
    }

}

@media screen and (max-width: 450px) {
    .controls button {
       margin-top: 130px;
    }
}