@import '../variables';

.practice-container {
    background: $black;
    height: 100%;
    width: 80%;
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.tab-display {
    white-space: nowrap;
    overflow: auto;
    height: 500px;
    width: 100%;
}

.tab-line {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.controls {
  margin-top: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  // align-items: center;
}

.controls button {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  background: $lightGreen;
  width: 50%;
  height: 30px;
  border: none;
  color: $black;
}

