@import '../variables';

.song {
  border-bottom: 1px groove $white;
  width: 90%;
  padding: 0 5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  transition-duration: 0.2s;
  &:hover{
    background-color: $lightGray;
  }
}

.tab-audio {
  margin-top: 0.8em;
}

.affirmitive {
  color: lightgreen;
}

.negative {
  color: red;
}

@media screen and (max-width: 450px) {
    h2 {
      font-size: 18px;
      // width: 70%;
    }

    p{
      // width: 70%;
      margin-right: none;
    }

    .title-artist {
      width: 60%;
    }

    .song{ 
      width: 90%;
    }

}