@import './variables';
@import './normalize';
@import './SongCard/SongCard';
@import './SongDisplay/SongDisplay';
@import './PracticeDisplay/PracticeDisplay';
@import './Settings/Settings';
@import './MusicPlayer/MusicPlayer';
@import './AddSong/AddSong';
@import url('https://fonts.googleapis.com/css?family=Poppins');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: $darkGreen;
}

.App {
  background: linear-gradient(#454545, #1c1c1c);
  width: 80%;
  margin: 0 auto;
  color: $white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-left: 50px;
  font-size: 64px;
}

button {
  cursor: pointer;
}

button:focus {outline: none}

.main-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.add-song-button {
  font-size: 24px;
  margin-top: 55px;
  margin-right: 50px;
  border-radius: 5%;
  background: $lightGreen;
  width: 20%;
  height: 52px;
  border: none;
  color: $black;
  padding-top: 15px;
  padding-bottom: 22px;
  transition-duration: 0.2s;
  &:hover {
  background-color: $white;
  transition-duration: 0.2s;
  }
}
