@import '../variables';

.music-player {
    background: $black;
    height: 100px;
    width: 90%;
    position: fixed;
    z-index: 3;
    margin: 0 auto;
    display: flex;
    border-bottom: 3px solid $lightGreen;
    // flex-direction: column;
}

.player-controls {
  display: flex;
  height: 80px;
  width: 80%;
  margin: 2% auto;
}

.music-player container {
  display: flex;
  margin-bottom: 40px;
  width: 100%;
}

.play-reset {
  // flex-direction: column;
  justify-content: center;
  align-items: center;
}

.music-player p {
  margin: 10px;
  text-align: right;
  color: $white;
}

.music-player input {
  text-align: center;
  color: $white;
  width: 50px;
  height: 30px;
  border: 1px solid $white;
  background: transparent;
  border-bottom: 3px solid $white;
}


.song-info {
  margin: 80px auto 0;
}

.title-and-artist {
  color: $lightGreen
}

.seek button,
.url button {
  margin: 2% 0;
  background: $white;
  width: 20%;
  height: 20px;
  border: none;
  color: $black;
}

.play-reset button {
  background: $white;
  border-radius: 10px;
  font-size: 40px;
  font-weight: 200;
  width: 150px;
  height: 50px;
  border: none;
  color: $black;
  margin-top: 5px;
  padding-bottom: 24px;
}

.speed button {
  margin: 5% 0;
  background: $lightGreen;
  width: 35%;
  height: 20px;
  border: none;
  color: $black;
}

@media screen and (max-width: 900px) {
    .music-player{
      width: 100%;
    }

    .play-reset button {
      width: 150px;
    }

}

@media screen and (max-width: 600px) {
    .music-player{
      width: 100%;
    }

}

@media screen and (max-width: 450px) {
  .music-player{
      width: 100%;
      height: 150px;
    }

    .play-reset button {
      position: absolute;
      top: 75px;
      left: 160px;
      margin: 0 auto;
      width: 150px;
    }

    .player-controls {
      flex-direction: column;
      text-align: center;
      height: 150px;
      margin: 0;
    }

    .play-reset {
      margin: 0;
    }

}
