@import '../variables';

.settings-container {
  display: flex;
  border: 2px $grey solid;
  flex-direction: column;
  width: 80%;
  border-radius: 20px;
  align-items: center;
  z-index: 4;
  text-align: center;
  position: fixed;
  height: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  color: $black;
  padding: 5%;
}

.settings-container container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.settings-container input {
  // color: $white;
  width: 75%;
  height: 30px;
  border: none;
  background: transparent;
  border-bottom: 3px solid $lightGreen;
}

.settings-container button {
  border: 2px $grey solid;
  margin: 5% 0;
  background: $darkGreen;
  width: 45%;
  height: 30px;
  border: none;
  color: $white;
}

#delete-song-button {
  border: 2px $grey solid;
  margin: 0;
  align-self: flex-start;
  background: $darkGreen;
  width: 15%;
  height: 30px;
  border: none;
  color: $white;
}

#first-container {
  margin-top: 5%;
}

.setting-tab {
  height: 30px;
  width: 75%;
}
